<h1>Editing Broker Company Name Substitution</h1>

<%= render 'form', broker_company_name_substitution: @broker_company_name_substitution %>

<%= link_to 'Back', broker_company_name_substitutions_path %>
